<div class="reskin-modal reskin-modal--secondary reskin-modal--size-guide js-size-guide-modal" data-modal="size-guide">
    <div class="reskin-modal__container">
        <a class="reskin-modal__close-button js-size-guide-close" href="javascript:void(0)"></a>
        <section class="reskin-modal__inner">
            <h2 class="reskin-modal__title">Flange<br>Sizing Guide</h2>
            <div class="reskin-modal__content">
                <section class="size-guide-modal">
                    <h3 class="reskin-modal__heading size-guide-modal__heading">Sizing Steps</h3>
                    <ol class="size-guide-modal__steps">
                        <li class="size-guide-modal__item">
                            <div class="size-guide-modal__item-inner">
                                <p class="reskin-modal__paragraph size-guide-modal__item-summary">Stimulate your nipple so it’s erect.</p>
                            </div>
                        </li>
                        <li class="size-guide-modal__item">
                            <div class="size-guide-modal__item-inner">
                                <p class="reskin-modal__paragraph size-guide-modal__item-summary">Hold a dime, nickel and quarter in front of your nipples to compare the diameter of the base of your nipples (not the areola) to each coin.</p>
                            </div>
                        </li>
                        <li class="size-guide-modal__item">
                            <div class="size-guide-modal__item-inner">
                                <p class="reskin-modal__paragraph size-guide-modal__item-summary">Determine your flange size using the chart below.</p>
                                <div class="size-guide-modal__item-image">
                                    <img class="lazyload" data-src="{{ 'reskin-size-guide.png' | asset_url }}" alt="Size Guide">
                                </div>
                                <div class="size-guide-modal__item-detail">
                                    <p class="reskin-modal__paragraph size-guide-modal__item-detail-headline">If your nipple is:</p>
                                    <div class="reskin-modal__paragraph-small size-guide-modal__item-description">
                                        <span>Smaller than a dime</span>
                                        <span>21mm<br>(Not Offered)</span>
                                    </div>
                                    <div class="reskin-modal__paragraph-small size-guide-modal__item-description">
                                        <span>Larger than a dime but smaller than a nickel</span>
                                        <span>24mm<br>Included</span>
                                    </div>
                                    <div class="reskin-modal__paragraph-small size-guide-modal__item-description">
                                        <span>Larger than a nickel but smaller than a quarter</span>
                                        <span>27mm<br>Ships Separately</span>
                                    </div>
                                    <div class="reskin-modal__paragraph-small size-guide-modal__item-description">
                                        <span>Larger than a quarter</span>
                                        <span>30mm<br>(Not Offered)</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </section>
            </div>
        </section>
    </div>
    <span class="js-size-guide-close reskin-modal__phantom-close"></span>
</div>
