<link href="https://cdn.shopify.com/s/files/1/1595/8015/t/3/assets/style.css?15830" rel="stylesheet" type="text/css" media="all" />
<link href="assets/style.css" rel="stylesheet" type="text/css" media="all" />

<div class="nav nav--reskin" style="background: #99D3CF;"></div>
<div id="main" class="main--reskin">
  {% include 'page.buy.liquid' %}
  {% include 'page-specific.page.buy.liquid' %}
</div>
<div class="footer footer--reskin"></div>
