<div class="bp-modal bp-modal-generation-2 js-bp-modal-generation-2" data-modal="generation-2">
  <div class="bp-modal__container">
    <a href="javascript:void(0);" class="bp-modal__close-button js-bp-modal-close"></a>
    <section class="bp-modal__inner">
      <h2 class="bp-modal__title">Generation 2.0</h2>
      <div class="bp-modal__content">
        <p>
          Willow changed the world of pumping in January 2018 with the first-ever, wearable pump. Generation 2.0 is even better,
          with a clear flange to help you align and get pumping faster.
          <img class="bp-modal__img lazyload" data-src="{{ 'willow-pump-generation-2.svg' | asset_url }}" alt="Generation 2.0" />
        </p>
      </div>
    </section>
  </div>
  <div class="bp-modal__overlay js-bp-modal-overlay"></div>
</div>
